.login-form {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 30px auto;
    width: 45%;
    background-color: #fff;
    color: #222f42;
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 38px -2px rgba(255, 255, 255, 0.64);
}

.input-email, .input-password {
    width: 400px;
    color: #86b593;
    border: none;
    border-bottom: 1px solid #222f42;
    margin: 20px 0;
}

.go {
    margin: 20px 0;
    color: #ffffff;
    background: #222f42;
    border: 1px solid #222f42;
    box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 5px 35px;
}

.go:hover {
    color: #222f42;
    background-color: rgba(235, 238, 237, 0.84);
    border: 1px solid #222f42;
}
.logo{
    text-transform: uppercase;
}