body {
    min-width: 1000px;
    font-family: 'Montserrat', sans-serif;
    background: #222f42;
}

.basic-container {
    margin-top: 50px;
}

.logo {
    font-family: 'Passion One', cursive;
    font-size: 50px;
}

.link {
    text-decoration: none;
    color: #da7973;
}

.link:hover {
    transition: 0.4s;
    text-decoration: none;
    color: #ff2c8e;
}
